#technology {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }

  @media (max-width: 375px) {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }

  .technology-content {
    padding: 4.75rem 0 4.75rem 6.94rem;
    max-width: 1400px;
    width: 100%;
    margin: auto;

    @media (max-width: 1200px) {
      padding: 2.5rem 0;
    }

    .header {
      color: #fff;
      font-family: "Barlow Condensed";
      font-size: 1.75rem;
      font-weight: 400;
      letter-spacing: 0.29531rem;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        padding-left: 2.41rem;
        font-size: 1.25rem;
        letter-spacing: 0.21rem;
      }

      @media (max-width: 730px) {
        text-align: center;
        padding-left: 0;
        font-size: 1rem;
        letter-spacing: 0.17rem;
      }

      .number {
        font-size: 700;
        opacity: 0.25;
        margin-right: 1rem;
      }
    }
  }
}
