#destination {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1200px) {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  @media (max-width: 630px) {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  .destination-content {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 4.75rem 6.94rem;

    @media (max-width: 500px) {
      padding: 2.12rem 1.5rem;
    }

    .header {
      color: #fff;
      font-family: "Barlow Condensed";
      font-size: 1.75rem;
      font-weight: 400;
      letter-spacing: 0.29531rem;
      text-transform: uppercase;

      @media (max-width: 500px) {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.16875rem;
      }

      .number {
        font-weight: 700;
        opacity: 0.25;
        padding-right: 0.5rem;
      }
    }

    .destination-container {
      margin-top: 4rem;

      .destinations-container {
        // max-width: 1400px;
        // width: 100%;
        // display: flex;
        // // overflow: hidden;
      }
    }
  }
}
