#destination {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  @media (max-width: 375px) {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  .destination-content {
    padding: 4.75rem 6.94rem;

    .header {
      color: #fff;
      font-family: "Barlow Condensed";
      font-size: 1.75rem;
      font-weight: 400;
      letter-spacing: 0.29531rem;
      text-transform: uppercase;

      .number {
        font-weight: 700;
        opacity: 0.25;
        padding-right: 0.5rem;
      }
    }

    .destination-container {
      margin-top: 4rem;

      .destinations-list {
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 9.97rem;

        ul {
          display: flex;
          gap: 2.19rem;

          li {
            list-style: none;
            text-transform: uppercase;
            color: #d0d6f9;
            font-family: "Barlow Condensed";
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.16875rem;
            padding-bottom: 0.73rem;
            cursor: pointer;
          }

          li.active {
            border-bottom: 0.1875rem solid #fff !important;
            color: #fff !important;
            opacity: 1 !important;
          }

          li:hover {
            border-bottom: 0.1875rem solid #d0d6f9;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
